@media screen and (max-width:1023px){
    #search-site{
        width: calc(100% - 100px) !important;
    }
    .menu{
        display: block !important;
    }
    nav{
        display: none !important;
    }
    .icontgdd-logo {
        width: 28px !important;
    }
    .logo{
        width: 28px !important;
    }
    .banner{
        display: none;

    }
    .banner-mobile{
        display: block !important;
    }
    .hide-response{
        display: none;
    }
    .colfoot{
        width: 100% !important;
    }
    .rowfoot1{
        padding-left: 3% !important;
    }
    .homeproduct li.feature {
        width: 100% !important;
        height: auto;
    }
    .homeproduct li {
       width: 49% !important;
    }
    .homeproduct li:nth-child(4n){
        display: none;
    }
    
}



@media only screen and (max-width: 1220px) and (min-width: 1024px){
    .logo {
        width: 35px !important;
    }
    .icontgdd-logo {
        width: 28px !important;
    }
    #search-site {
        width: 200px !important;
    }
    .topinput {
        width: 152px !important;
    }
    nav {
        width: 760px !important;
    }
    .icontgdd-logo {
        width: 28px !important;
    }
    .homeproduct li {
        width: 18.9% !important;
    }
    .homeproduct li.feature {
        width: 39.9% !important;
    }
  
    .colfoot {
        width: 26.5% !important;
    }
    
    
    .colfoot li a {
        padding: 0 0 0 5px !important;
        line-height: 30px !important ;
    }
    }
    
    body{
        display: block;
        background: #f0f0f0;
        font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
        color: #333;
        outline: none;
        zoom: 1;
        min-width: 320px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .header {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 320px;
        background: #fed700;
        width: 100%;
        height: 55px;
        z-index: 3;
    }
    .wrap-main {
        max-width: 1200px;
        /* min-width: 960px; */
        width: 100%;
        height: 55px;
        background: #000;
        margin: auto;
        position: relative;
        display: block;
    }
    .logo {
        float: left;
        width: 165px;
        display: block;
        padding: 14px 0 11px 5px;
    }
    #search-site {
        float: left;
        width: 230px;
        height: 35px;
        margin: 10px 10px 0 10px;
        background: #fff;
        position: relative;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
    }
    .image{
        background-image: url("./images/icondesktop2022@1x.png");
        background-repeat: no-repeat;
        display: inline-block;
        height: 30px;
        width: 30px;
        line-height: 30px;
        vertical-align: middle;
    }
    .image2x{
        background-image: url("./images/iconmobile@2x.png");
        background-repeat: no-repeat;
        display: inline-block;
        height: 30px;
        width: 30px;
        line-height: 30px;
        vertical-align: middle;
    }
    .icontgdd-logo {
        background-position: 0 0;
        width: 156px;
        height: 30px;
        display: block;
        margin: auto;
    }
    .topinput {
        float: left;
        width: 162px;
        margin-left: 8px;
        padding-top: 3px;
        border: 0;
        position: relative;
        background: #fff;
        height: 30px;
        text-indent: 10px;
        font-size: 13px;
    }
    .btntop {
        float: right;
        width: 40px;
        height: 35px;
        border: 0;
        background: none;
    }
    nav {
        width: 780px;
        background: #fed700;
        margin: 0;
        padding: 0;
        display: table;
        /* display: block;
        float: none; */
    }
    nav a span {
        display: block;
        position: absolute;
        top: 9px;
        width: 23px;
        margin: auto;
        left: 0;
        right: 0;
        font-size: 11px;
    }
    nav a.mobile {
        width: 70px;
    }
    nav a.tablet {
        width: 60px;
    }
    nav a.laptop {
        width: 60px;
    }
    nav a.phukien {
        width: 60px;
    }
    nav a.ask {
        width: 60px;
    }
    nav a.cardsim, nav a.utility {
        text-transform: none;
        font-size: 13px;
        padding: 0;
        vertical-align: middle;
        line-height: 19px;
        border-left: 1px solid rgba(0,0,0,.1);
        padding-top: 6px;
    }
    nav a.utility {
        width: 100px;
    }
    nav a {
        display: table-cell;
        float: left;
        width: 75px;
        height: 47px;
        padding: 3px 0 4px;
        color: #000;
        background: #fed700;
        font-size: 11px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
    }
    a {
        text-decoration: none;
    }
    .icontgdd-mobile {
        background-position: -190px 0;
        width: 16px;
        height: 25px;
        display: block;
        margin: 2px auto 3px;
    }
    .icontgdd-tablet {
        background-position: -209px 0;
        display: block;
        margin: 0 auto 5px;
        width: 33px;
        height: 25px;
    }
    .icontgdd-laptop {
        background-position: -245px 0;
        display: block;
        margin: 0 auto 5px;
        width: 39px;
        height: 25px;
    }
    .icontgdd-phukien {
        background-position: -288px 0;
        display: block;
        margin: 0 auto 5px;
        width: 22px;
        height: 25px;
    }
    .icontgdd-watch {
        background-position: -362px -50px;
        display: block;
        margin: 0 auto 0;
        width: 16px;
        height: 30px;
    }
    .icontgdd-maydoitra {
        background-position: -315px 0;
        display: block;
        margin: 0 auto 4px;
        width: 34px;
        height: 26px;
    }
    .icontgdd-news {
        display: block;
        margin: 0 auto 2px;
        background-position: -428px -50px;
        width: 28px;
        height: 25px;
    }
    .icontgdd-ask {
        background-position: -410px 0;
        display: block;
        margin: 0 auto 3px;
        width: 25px;
        height: 25px;
    }
    
    .content{
        
        max-width: 1200px;
        width: 100%;
        min-width: 320px;
        margin: 55px auto 0;
        position: relative;
        margin: 65px auto 0;
        padding-left: 0px;
    }
    .banner{
      
       min-height: 100px;
       background: url("./images/banner.png");
       background-size: 100%;
       background-repeat: no-repeat;
    }
    .banner-mobile{
    display: none;
    background: url('./images/baner-ré.png') ;
    background-size: 100%;
    width: 100% ;
    min-height: 100px;
    background-repeat: no-repeat;
 
    }
    .navigat {
        display: block;
        overflow: hidden;
        background: #fff;
    }
    .navigat a {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        color: #288ad6;
        padding: 14px 10px;
    }
    
    .navigat div {
        float: right;
        overflow: hidden;
    }
    .navigat h2 {
        float: left;
        font-size: 16px;
        color: #333;
        font-weight: 600;
        padding: 2px 10px;
        text-transform: uppercase;
    }
    .navigat div {
        float: right;
        overflow: hidden;
    }
    .homeproduct {
        margin-top:0px;
        width: 100%;
        padding-left: 0px;
        clear: both;
        display: block;
        background: #fff;
       
        display: flex;
        flex-flow: row wrap;
        flex: 1 100%;
        border-top: 1px solid #eee;
        margin-bottom: 15px;
    }
    .homeproduct li {
        float: left;
        position: relative;
        width: 18.917%;
        overflow: hidden;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
    .homeproduct li.feature {
        width: 40.917%;
    }
    .homeproduct li a {
        display: block;
        overflow: hidden;
        background: #fff;
        padding: 10px 0;
    }
    .homeproduct li.feature img {
        width: 100%;
        height: 222px;
        margin: 0 0 14px;
    }
    .homeproduct li h3 {
        display: block;
        line-height: 1.3em;
        font-size: 14px;
        padding: 0 10px;
        color: #333;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .homeproduct li .price {
        display: block;
        overflow: hidden;
        padding: 5px 10px 10px 10px;
    }
    .homeproduct li strong {
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        font-size: 14px;
        color: #e10c00;
        line-height: 15px;
    }
    .homeproduct li.feature label {
        left: auto;
        right: 10px;
        top: auto;
        bottom:
         53px;
    }
    .homeproduct li label.installment {
        background: #f28902;
    }
    .homeproduct li label {
        display: inline-block;
        position: absolute;
        top: 187px;
        left: 10px;
        font-size: 11px;
        color: #fff;
        font-weight: 600;
        background: #3fb846;
        border-radius: 2px;
        padding: 0 5px;
        height: 18px;
    }
    .homeproduct li a {
        display: block;
        overflow: hidden;
        background: #fff;
        padding: 10px 0;
    }
    .homeproduct li .promo p {
        font-size: 12px;
        color: #333;
        line-height: 1.4;
        width: 165px;
        float: left;
        margin-left: 10px;
        white-space: normal;
       
        overflow: hidden;
    }
    a {
        text-decoration: none;
    }
    .homeproduct li img {
        display: block;
        width: 100%;
        height: 180px;
        margin: 15px auto;
    }
    .homeproduct li img:hover{
        transition: 0.4s;
        position: relative;
        top: -7px;
    
    } 
    .homeproduct li .promo img {
        display: block;
        width: 35px;
        height: 35px;
        float: left;
        margin: 0;
    }
    .homeproduct li span {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        text-decoration: line-through;
        margin-left: 5px;
        color: #222;
    }
    .homeproduct li img.icon-imgNew.cate42 {
        top: 144px;
    }
    .homeproduct li img.icon-imgNew {
        position: absolute;
        top: 85px;
        left: 69%;
        width: 45px;
        height: auto;
    }
    
    
    
    
    
    /* footer */
    .footer {
        width: 100%;
        min-width: 320px;
        margin: 0 auto;
        background: #fff;
        overflow: hidden;
        clear: both;
    }
    .rowfoot1 {
        display: block;
        overflow: hidden;
        width: 100%;
        min-width: 320px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 15px 0;
    }
    .colfoot {
        float: left;
        width: 28%;
        margin: 0;
        position: relative;
        list-style-type: none;
        
    }
    .colfoot li {
        float: none;
        position: relative;
        font-size: 13px;
        color: #444;
    }
    .colfoot li a {
        display: block;
        color: #288ad6;
        font-size: 14px;
        line-height: 25px;
        padding-top: 5px;
    }
    .colfoot li p {
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: 25px;
        font-size: 14px;
        color: #666;
    }
    .colfoot li p a {
        display: inline;
        font-weight: 600;
        color: #333;
        padding: 0 5px;
    }
    .colfoot li a.bct, .colfoot li a.dmca-badge {
        display: inline-block;
    }
    .icontgdd-bct {
        background-position: 0 -50px;
        width: 110px;
        height: 38px;
    }
    .icontgdd-hg {
        background-position: -384px -49px;
        width: 45px;
        height: 38px;
    }
    .colfoot li.showmore a:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 5px solid #288ad6;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        margin: 0 0 0 5px;
        position: relative;
        top: -2px;
    }
    .colfoot li.hidden {
        display: none;
    }
    .colfoot li a.linkfb {
        float: left;
        padding: 0 10px 0 0;
        margin: 9px 0 2px;
        border-right: 1px solid #e9e9e9;
        font-size: 12px;
        line-height: 1;
        color: #288ad6;
    }
    .icontgdd-share1 {
        background-position: 0 -30px;
        width: 13px;
        height: 13px;
        margin-right: 3px;
    }
    .colfoot li a.linkyt {
        float: left;
        padding: 0 0 0 10px;
        margin: 9px 0 2px;
        font-size: 12px;
        color: #288ad6;
        line-height: 1;
    }
    .icontgdd-share3 {
        background-position: -16px -30px;
        width: 17px;
        height: 13px;
        margin-right: 3px;
    }
    .group {
        display: block;
        overflow: hidden;
        clear: both;
    }
    .group label {
        display: block;
        font-size: 12px;
        color: #888;
        margin-top: 10px;
    }
    .iconlogo-ma {
        background-position: -313px 0;
        width: 100px;
        height: 19px;
    }
    .iconlogo-dmx {
        background-position: -109px 0;
        width: 111px;
        height: 19px;
    }
    .iconlogo-bhx {
        background-position: -220px 0;
        width: 90px;
        height: 19px;
    }

    .header .menu {
        position: absolute;
        top: 0;
        right: 0;
        background: #222;
        padding: 7px 0 4px;
        width: 48px;
        cursor: pointer;
        z-index: 10;
        display: none;
    }
    .iconmobile-menu {
        background-position: -200px 0;
        width: 33px;
        height: 33px;
        display: block;
        margin: 2px auto;
    }